#Celadon green {
  color: #3e8b83;
  color: rgb(62, 139, 131);
}

#Midnight green {
  color: #074f57;
  color: rgb(7, 79, 87);
}

#Teal blue {
  color: #077187;
  color: rgb(7, 113, 135);
}

#Metalic seaweed {
  color: #237e85;
  color: rgb(35, 126, 133);
}

#Forest green {
  color: #74a57f;
  color: rgb(116, 165, 127);
}

#Eton blue {
  color: #9ece9a;
  color: rgb(158, 206, 154);
}

#Celadon {
  color: #a7d2a3;
  color: rgb(167, 210, 163);
}
