#Celadon green {
  color: #3E8B83;
  color: rgb(62, 139, 131);
}
#Midnight green {
  color: #074f57;
  color: rgb(7, 79, 87);
}

#Teal blue {
  color: #077187;
  color: rgb(7, 113, 135);
}

#Metalic Seaweed {
  color: #237E85;
  color: rgb(35, 126, 133);
}

#Forest green {
  color: #74A57F;
  color: rgb(116, 165, 127);
}

#Eton blue {
  color: #9ECE9A;
  color: rgb(158, 206, 154);
}

#Celadon {
  color: #A7D2A3;
  color: rgb(167, 210, 163);
}
