#about-view {
  height: auto;
  min-height: 100vh;
  padding-top: 5vh;
  background-color: rgb(21, 40, 51);
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#about-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}
#img {
  width: 50%;
  float: right;
}
#section-title {
  font-family: Impact, Haettenschweiler, 'Arial', sans-serif;
  color: rgb(212, 212, 212);
}
#section-body {
  max-width: 100%;
  background-color: inherit;
}
#img-body {
  max-width: inherit;
}
#section-text {
  height: inherit;
  font-size: 1.5vw;
}
