#contact-view {
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(7, 113, 135);
  color: #fffaf0;
}

#contact-response-fail {
  color: rgb(204, 0, 0);
}

#contact-resonse-success {
  color: rgb(0, 204, 0);
}

#contact-text {
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: calc(10px + 1.2vmin);
}

#contact-body {
  padding-top: 5vh;
  padding-bottom: 5vh;
  color: white;
}

#contact-form {
  padding-left: 7vw;
  padding-right: 7vw;
  width: 100%;
  max-width: calc(320px + 30vw);
}

#contact-email {
  max-width: 70%;
}

#contact-message {
  max-width: 100%;
}

#contact-response {
  max-width: 100%;
  visibility: hidden;
}

#contact-submit-group {
  display: flex;
  flex-direction: column-reverse;
}

#contact-submit {
  color: #06303f;
  text-transform: uppercase;
}
