#landing-view {
  height: auto;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background:
    linear-gradient(217deg, rgba(158, 206, 154, 0.8), rgba(167, 210, 163, 0) 50%),
    linear-gradient(127deg, rgba(7, 113, 135, 0.8), rgba(7, 79, 87, 0) 80%),
    linear-gradient(336deg, rgba(116, 165, 127, 0.8), rgba(62, 139, 131, 0) 150%);
  color: #fffaf0;
}

#align-center {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

#connect-button {
  opacity: 1;
  margin-top: 2vh;
}

#connect-button:hover {
  opacity: 0.8;
  transition: opacity 250ms;
}

#icon_welcome_img {
  min-width: 32px;
  width: calc(27px + 4vmin);
}

#welcome-info-body {
  margin-left: 5vw;
  margin-right: 5vw;
  max-width: 60vw;
  text-align: center;
}

#welcome-info-text {
  padding-top: 30px;
  font-size: calc(12px + 0.9vmin);
  opacity: 0.9;
}

#welcome-info-text-italic {
  font-size: calc(11px + 0.9vmin);
  font-style: italic;
  opacity: 0.88;
}

#title {
  font-size: calc(16px + 16vmin);
  color: rgba(62, 139, 131, 0.9);
  text-align: center;
}

#subtitle {
  font-size: calc(14px + 8vmin);
  color: #fffaf0;
  text-align: center;
}

#jumbo {
  background-color: rgb(31, 40, 51);
}

/* Gradient transparent - color - transparent */
#line-breaker {
  border: 0;
  height: calc(1px + 0.05vh);
  width: 80%;
  background-image:
    linear-gradient(
      to right,
      rgba(233, 188, 183, 0),
      rgba(255, 250, 240, 0.69),
      rgba(233, 188, 183, 0)
    );
}
