@keyframes opacity {
  from {
    background-color: none;
  }
  to {
    background-color: grey;
  }

}

#showcase-view {
  height: auto;
  min-height: 100vh;
  padding-top: 5vh;
  background-color: rgb(21, 40, 51);
  padding-bottom: 5vh;

  padding-right: 5vw;
  padding-left: 5vw;
  display: flex;
  justify-content: center;
  color: white;
  background: linear-gradient(to right, #111f31, #014c79, #111f31);
  color: #E9BCB7;
}
#showcase-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}
#carousel {

  height: 95vh;

  max-height: 90%;
  max-width: calc(50vw + 20vh);

  margin-bottom: 15px;

  margin-right: 5vw;

  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
}

#scale {
  width: 100%;
  z-index: 33;
}

#scaleAbso {
  position: absolute;
  width: 100%;
}

#carousel-body {
  width: 100%;
  height: 90%;
  visibility: visible;
  overflow: hidden;
}

#text {
  font-size: calc(10px + 3vmin);
}

#screen-overlay {
  width: calc(95vh * (42.453/75.993));
  display: flex;
  align-items: center;
  justify-content: center;
}
#dunno {
  position: absolute;
  width: calc(94vh * (42.453/75.993));
  max-width: 82%;
  max-height: 78%;
  height: calc(78vw * (75.993/42.453));
}

#fill {
  width: 100%;
}

#showcase-title {
  font-family: Impact, Haettenschweiler, 'Arial', sans-serif;
  color: rgb(212, 212, 212);
  font-size: calc(16px + 5vmin);
}
#showcase-section-body {
  max-width: 100%;
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#screen {
  width: 100%;
  height: 100%;
}

#iphone-navigation {
  height: 10%;
  align-self: flex-end;
  width: calc(94vh * (42.453/75.993));
  max-width: 85%;
  position: absolute;
  z-index: 999;
  flex-direction: row;
  display: flex;
}

#icon_right {
  width: 5vh;
  min-width: 20px;
  min-height: 20px;
}

#icon_left {
  width: 5vh;
  min-width: 20px;
  min-height: 20px;
}
#pullLeft {
  display: flex;
  margin: auto;
  opacity: 0.5;
}

#pullLeft:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 450ms;
}

#pullLeft:active {
  background-color: grey;
  border-radius: 100%;
}
#pullRight:active {
  background-color: grey;
  border-radius: 100%;
}


#pullRight:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 450ms;
}

#pullRight {
  display: flex;
  opacity: 0.5;
  margin: auto;
}
#screen-content-default {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(224, 60, 49);
  display: flex;
  justify-content: center;
  align-items: center;
}

#screen-content-bill {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
}

#showcase-section-text {
  font-size: calc(10px + 1.2vmin);
  width: 52vw;
  text-align: left;
}

#over {
  position: absolute;
  width: 100%;

}

#screen-icon {
  width: 60%;
  margin-left: 5%;
  margin-bottom: 20%;
}

#section-text {
  height: inherit;
}
