#showcase-view {
  height: auto;
  min-height: 100vh;
  padding-top: 5vh;
  background-color: rgb(21, 40, 51);
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#showcase-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}
#carousel {
  width: 80vw;

  max-height: 720px;
  max-width: 450px;

  background-color: red;
  float: left;
}

#screen-overlay {
  position: absolute;
  background-color: black;
  opacity: 0.5;
}

#screen {
  position: absolute;
  background-color: green;
}

#section-title {
  font-family: Impact, Haettenschweiler, 'Arial', sans-serif;
  color: rgb(212, 212, 212);
}
#showcase-section-body {
  max-width: 100%;
  background-color: inherit;
  padding: 20px;
}
#carousel-body {
  max-width: inherit;
}
#section-text {
  height: inherit;
}
