#icon_img {
  max-width: 64px;
  max-height: 64px;

  height: 7vw;
  width: 7vw;

  min-height: 16px;
  min-width: 16px;
}

#icon-back {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 2px;
  opacity: 1;
  cursor: pointer;
}

#icon-back:hover {
  opacity: 0.88;
  cursor: pointer;
}


#tool-tip {
  color: black;
  opacity: 0.7;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;

  width: 100%;
  margin: auto;
  padding-left: 5px;
  padding-right: 10px;
  display: flex;
  height: 100%;

  cursor: pointer;
}

#icon {
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 3px;
  cursor: pointer;
}
