#icon_img {
  height: calc(16px + 4vmin);
  width: calc(16px + 4vmin);

  min-height: 20px;
  min-width: 20px;
}

#icon-back {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-top: 2vh;
  opacity: 1;
  cursor: pointer;
}

#icon-back:hover {
  opacity: 0.88;
  cursor: pointer;
}


#tool-tip {
  color: white;
  opacity: 0.7;
  font-family: Roboto;
  font-size: calc(8px + 0.7vmin);
  font-weight: 500;
  text-transform: uppercase;

  width: 100%;
  margin: auto;
  padding-left: 1.125vw;
  padding-right: 2vw;
  display: flex;
  height: 100%;

  cursor: pointer;
}

#icon {
  margin-top: 2.5vh;
  margin-left: 2vw;
  cursor: pointer;

}
