#navbar-border {
  border: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.13), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.13));
  box-shadow: 0 0.161rem 0.08rem rgba(15, 10, 10, 0.162);
}
#nav-button {
  color: rgb(17, 150, 150);
}
#nav-button:hover {
  margin-right: 20px;
  transition: margin-right 300ms;
}
#nav-item {
  text-align: right;
  cursor: pointer;
}
#brand {
  cursor: pointer;
}
#brand:hover {
  cursor: pointer;
  padding-left: 10px;
  transition: all 250ms;
}
#navbar-visible {
  border: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.13), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.13));
  box-shadow: 0 0.161rem 0.08rem rgba(15, 10, 10, 0.162);
}
#navbar-hidden {
  border: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.13), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.13));
  box-shadow: 0 0.161rem 0.08rem rgba(15, 10, 10, 0.162);
  opacity: 0;
  transition: all 250ms;
}
#navbar-hidden:hover {
  border: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.13), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.13));
  box-shadow: 0 0.161rem 0.08rem rgba(15, 10, 10, 0.162);
  opacity: 0.7;
  transition: all 250ms;
}
