#overline {
  color: rgba(0,0,0,0.87);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#description {
  color: black;
  opacity: 0.6;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  padding-left: 10px;
  display: block;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0 auto;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

#body {
}

#container {
  max-width: 60vw;
  background-color: white;
  padding: 10px;
}

#expand {
  display: flex;
  justify-content: flex-end;
  color: blue;
  font-size: 12px;
}

#icon-box {
  display: flex;
  justify-content: flex-end;
  min-height: 16px;
  padding-bottom: 20px;
}

#icon-back {
  border-width: 1px;
  border-radius: 7px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-right: 5px;
  padding-bottom: 5px;
}

#icon {
  width: 32px;
  height: 32px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 3px;
}

#icon_img {
  width: 100%;
  height: 100%;
}

#divider {
  opacity: 0.12;
  height: 1px;
  background: black;
}
