#overline {
  color: white;
  opacity: 0.88;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: calc(14px + 1vmin);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  padding-left: 3vw;
  padding-right: 6vw;
  padding-top: 2vh;
}

.description_closed {
  color: white;
  opacity: 0.6;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: calc(12px + 0.9vmin);
  font-weight: 400;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

#description:hover {
  opacity: 0.8;
  cursor: pointer;
}

.description_open {
  color: white;
  opacity: 0.9;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: calc(12px + 0.9vmin);
  font-weight: 400;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.section {
  margin-bottom: -10px;
}

#container {
  max-width: 100vw;
  background-color: rgba(220, 220, 220, 0.32);
  margin-top: -20px;
  border-radius: 3px;
}

#icon-box {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-height: 20px;
  padding-bottom: 2vh;
  padding-right: 3vw;
}

#divider {
  opacity: 0.12;
  height: 0.5vh;
  border: 0;
  background: white;
}
