#scroll-button-body {
  position: fixed;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  display: flex;
  flex-direction: column;
  min-width: auto;
  width: 100%;
  min-height: auto;
  height: 100vh;
  padding-bottom: 2vh;
  padding-right: 2vw;
  z-index: -1;
}

#scroll-button-visible {
  position: absolute;
  opacity: 0.44;
  border-radius: 100%;
  transition: all 250ms;
  z-index: -1;
  visibility: hidden;
}

#scroll-button-hidden {
  position: absolute;
  visibility: hidden;
  border-radius: 100%;
  transition: all 250ms;
  z-index: -1;
}
