.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(0, 255, 170);
  height: 10vh;
  color: white;
}

.navbar-border {
  box-shadow: 0 0.161rem 0.08rem rgba(0, 0, 0, .1618);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.leftMi {
  text-align: left;
}

.landing-view {
  height: 90vh;
  width: calc(100vw - (100vw - 100%));
  background-color: rgb(0, 255, 170);
}

.jumbo {
  padding-top: 10%;
  margin: auto;
  width: 50%;
}

.jumbo-adjust {
  background-color: transparent !important;
}

.btn-gogo {
  margin: 1%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
