.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(31, 40, 51);
  height: 10vh;
}

.navbar-border {
  box-shadow: 0 0.161rem 0.08rem rgba(15, 10, 10, 0.162);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.leftMi {
  text-align: left;
}

.main-head {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 6.93vw;
  color: rgb(102, 252, 241);
}

.lead {
  font-size: 1.618vw !important;
}

.front-textbody {
  font-size: 1vw;
}

.btn-gogo {
  font-size: 1.618vw !important;
  margin: 1.08vw;
}

.about-view {
  height: 100vh;
  width: calc(100vw - (100vw - 100%));
  background-color: rgb(21, 40, 51);
  color: white;
}

.about-section {
  padding-top: 10%;
  margin: auto;
}

.projects-view {
  height: 100vh;
  width: calc(100vw - (100vw - 100%));
  background-color: rgb(31, 40, 51);
  color: white;
}

.projects-section {
  padding-top: 10%;
  margin: auto;
  color: rgb(11, 12, 16);
}

.projects-heading {
  color: white;
  font-size: 2.618vw;
  text-align: left;
  padding-left: 1vw;
  padding-bottom: 3vw;
}

.section-heading {
  font-size: 2.618vw;
  text-align: left;
  padding-left: 1vw;
  padding-bottom: 3vw;
}

.section-p {
  padding-top: 3%;
  text-align: left;
  font-size: 1.23vw;
  min-width: 226px;
}

.card-header {
  font-size: 2.618vw;

}

.card-text {
  font-size: 1.23vw;
}

.card-style {
  padding: 5%;
  padding-bottom: 13%;
  font-size: 1.618vw;
}

.bottom-pad {
  margin-top: 10% !important;
}

.link-style {
  text-align: right !important;
  padding-bottom: 5%;
  padding-right: 5%;
  font-size: 2vw;
}


.box {
  
  width: 25vw;
  height: 21.7153284672vw;
}

.landing-view {
  height: 90vh;
  width: calc(100vw - (100vw - 100%));
  background-color: rgb(31, 40, 51);
  color: white;
}

.logo {
  color: white;
}

.brand {
  color: white !important;
}
.brand:hover {
  cursor: pointer !important;
}
.nav-button:hover {
  cursor: pointer !important;
}

.jumbo {
  padding-top: 5%;
  margin: auto;
  width: 50%;
}

.jumbo-adjust {
  background-color: transparent !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.colour-scheme {
  background-color: rgb(11, 12, 16);
  background-color: rgb(31, 40, 51);
  background-color: rgb(197, 198, 199);
  background-color: rgb(102, 252, 241);
  background-color: rgb(69, 162, 158);
}
